body {
    background-color: black;
}

.image-container {
    display: flex;
    height: 100vh;
    margin: 0;
}

p {
    color: white;
}

.presentation {
    padding: 20px;
    background-color: black;
    text-align: center;
}

.presentation p {
    margin: 10px 0;
}

