/* Define the custom font using @font-face */
@font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/BossaNovaMVBStd.ttf') format('ttf');
}

body {
    background-color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

p {
    color: white;
    font-family: 'MyCustomFont', sans-serif;
}



.presentation {
    padding: 20px;
    background-color: black;
    text-align: center;
}

.presentation p {
    margin: 10px 0;
}

.image-container  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: darkgray;
}

.image-container  img {
    flex: 1 0 30%;
    max-width: 30%;
    margin: 10px;
    box-sizing: border-box;
}

