body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

p {
    color: white;
}

.image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.image-container img {
    max-width: 100%;
    height: auto;
    margin: 0 10px;
    flex: 1;
}

.image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%; /* Container width relative to the viewport */
    max-width: 1200px; /* Optional: Max width to prevent it from becoming too wide on large screens */
    margin: auto;
}

.image-container img {
    width: 30%; /* Each image takes up 30% of the container's width */
    height: auto; /* Maintains the aspect ratio */
    margin: 0 10px;
}